*{

    margin: 0px;
    padding: 0px;
}

.content ul li {
  display: inline-block;
}
.content ul li a {
  display: block;
  padding: 9px 15px;
  color: #87805E;
  text-decoration: rgb(255, 255, 255);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  font-size: 20px;
  text-align: center;
  right : 50px;
}
ul li a:hover {
  color: #d04b4b;
  background: #21202080;
}



  .shree img{
    position:absolute;
    left: 10px;
    bottom: 500px;
    width: 20%;
  }
  .cornerimage{
    border-radius: 20px 0px 20px 0px;
    opacity: 0.7;
  }
  .row{
     min-height: 10px;

  }
  .row p{
    font-size: 30px;
    position: relative;
    bottom: 40px;
  }

  .col25{
     width:80%;

  }
  .col25 img{
    position: relative;
    left: 300px;
    bottom: 100px;
    border: 10px solid brown;
    border-radius: 5%;
    
  }

  .col30 {
    width:30%
  }

 
  .cornerimage:hover{
    opacity: 1;
    border-left: 4px solid #ffffff;
    border-left: 4px solid #ffffff;
  }

  .flex-container {
   
    display: flex;
    background-color: white;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

  

  .dropbtn {
    background-color: #AC7088;
    color: white;
    font-size: 16px;
    border: none;
    height: 50px;
    width: 300%;
    text-align: justify;
    
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    top: 150px;
    left : 50px;
    /* width : 80%; */

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 300%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #DEB6AB;}



  .nav2 {
    position: relative;
    left : 520px;
    bottom: 70px;
  }

 
.about-text{
    
    color:#DEB6AB;
    font-size: 20px;
    letter-spacing:2px ;
    
    text-align: center;
    bottom: 1000px;

    
}